body
{
 font-size: 12px;
 color: #fff;
 background-color: white;
 font-family: sans-serif;
}

/** HEADER **/
#header-nav 
{
 background-color: gray;
 border-radius: 0;
 border: 0;
}

.navbar-brand 
{
 padding-top: 25px;
}

.navbar-brand h1 /* Restaurant name */
{  
 font-family:  Arial, Helvetica, sans-serif;
 color: black;
 font-size: 2em;
 margin-top: 0;
 margin-bottom: 0;
 line-height: .15;
}

#nav-list 
{
 font-family:  Arial, Helvetica, sans-serif;
 font-size: 2em;
 margin-top: 10px;
}

#nav-list a 
{
 color: black;
}

#nav-list a:hover 
{
 background:  #E7E7E7;
}

#nav-list a span 
{
 font-size: 2em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar 
{
 border: 1px solid black;
}

.navbar-header button.navbar-toggle
{
 clear: both;
 margin-top: -30px;
}

/* HOME PAGE */

.tp {
     font-family: Arial, Helvetica, sans-serif;
     color: black;
     font-size: .9em;
    }

.c1 {
     border: 1px solid black;
     background-color: #9c9c9c; 
     color: black;
     height: 1000px;      
     padding: 40px;
     font-family: Arial, Helvetica, sans-serif;     
     font-size: 1.5em;
     position: relative;
     margin-right: auto;
     margin-left: auto;
     margin-top: 10px;
    }

.t1 { 
     font-family: Arial, Helvetica, sans-serif;
     font-size: 2em;
     color: black;
     position: relative;
     margin-top: -1000px;
    }
.back { 
       font-family: Arial, Helvetica, sans-serif;
       font-size: 1.3em;
       color: white;
       position: relative;
       margin-top: -50px;
       text-align: center;
    }

